################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs
bin
obj
/packages
*.user
publish
/Thunder.Blazor/.vscode
/Thunder.Blazor/JsLibs/Thunder.Blazor.Noty/content/thunder.noty.js.map
/Thunder.Blazor/JsLibs/Thunder.Blazor.Noty/content/thunder.noty.js
/output
