@page "/"
@namespace ServerDemo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServerDemo</title>
    <base href="~/" />
    @*<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="_content/Thunder.Blazor.Bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="_content/Thunder.Blazor.Animate/animate.min.css">
        <link rel="stylesheet" href="_content/Thunder.Blazor.Noty/bootstrap-v4.min.css">
        <link rel="stylesheet" href="_content/Thunder.Blazor.Noty/noty.min.css">
        <script src="_content/Thunder.Blazor.DomObject/thunder.DomObject.js"></script>
        <script src="_content/Thunder.Blazor/thunder.cssbuild.js"></script>
        <script src="_content/Thunder.Blazor.Animate/thunder.animate.js"></script>
        @*<script src="_content/Thunder.Blazor.JQuery/jquery-3.0.0.min.js"></script>*@
        <script src="_content/Thunder.Blazor.Noty/noty.min.js"></script>
        <script src="_content/Thunder.Blazor.Noty/thunder.noty.js"></script>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
