@inherits AlertBase
@if (IsVisabled)
{
    <div id="@DomId" class="alert @DataContext?.Style" role="alert">
        @if (string.IsNullOrWhiteSpace(DataContext?.Text))
        {
            @ChildContent
        }
        else
        {
            @DataContext?.Text
        }
        <button type="button" class="close" @onclick="@Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
