@inherits StrapTabBase
@if (IsVisabled && HasItems)
{
    <StrapNav DataContext="@Headers" IsTab="true"></StrapNav>
    <div class="tab-content">
        @foreach (var item in DataContext.TabsItems)
        {
            <StrapContent StyleClass="tab-pane fade" DataContext="@item" IsActived="item.IsActived" IsEnabled="item.IsEnabled" IsVisabled="item.IsVisabled"></StrapContent>
        }
    </div>
}
