@page "/tabs"
<StrapCard Title="标签页（Tab）" StyleClass="m-2">
    <p class="card-text">标签页</p>
    <StrapButton CommandAction="AddTab" StyleClass="m-2">Add Tab</StrapButton>
    <StrapTab DataContext="@TabContext" StyleClass="m-2" ShowCount="4"></StrapTab>
</StrapCard>

@code {
    protected TTabContext TabContext { get; set; }

    protected override void OnInitialized()
    {
        InitTab();

    }

    private void InitTab()
    {
        TabContext = new TTabContext();
        TabContext.TabsItems.Add(new TTabItem { Caption = "Counter", Child = new TContext { ContextType = typeof(Counter) } });
        TabContext.TabsItems.Add(new TTabItem { Caption = "Tab 1", Child = new TContext { ContextType = typeof(NavMenu) } });
    }

    private void AddTab(object o)
    {
        var index = TabContext.TabsItems.Count;
        var item = new TTabItem { Caption = $"Counter [{index}]", Child = new TContext<Counter>() };
        TabContext.LoadItem(item);
    }
}
