@page "/"


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="@NotyInfo" >提示消息</button>

@code{
[Inject] protected NotifyService noty { get; set; }
private void NotyInfo()
{
    noty.Show(new NotyData("这是一条测试的消息。\r\n This is a test pop!"));
}
}