@page "/"
@inherits TComponent

<h1 id="@titleId">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Alert>警告内容, Alert infomation.</Alert>
<button class="btn btn-primary" @onclick="@NotyInfo">提示消息 (Notice pop)</button>
<button class="btn btn-primary" @onclick="@AnimateClick">动画演示 (Animate Demo)</button>
<button class="btn btn-primary" @onclick="@AnimateClick">警告条幅 (Alert infomation)</button>

@code{
    [Inject] protected NotifyService noty { get; set; }
    [Inject] protected AnimateService animate { get; set; }
    protected string titleId { get; set; }
    protected override void OnInit()
    {
        titleId = NewId();
        base.OnInit();
    }
    private void NotyInfo()
    {
        noty.Show(new NotyData("这是一条测试的消息。<br> This is a test pop!", NotyType.error));
    }

    private void AnimateClick()
    {
        // start animate
        animate.Start(new AnimateData { AnimateType = AnimateType.tada, id = titleId, resetOnEnd = true });
    }

    private void AlertShow()
    {

    }
}