@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        <StrapAlert IsVisabled="false" StyleClass="m-2"></StrapAlert>
        @Body
    </div>
</div>
<StrapModal IsVisabled="false"></StrapModal>
